<!DOCTYPE html>
<html lang="en">
    <%- include('head') %>
    <body>
        <%- include('cabecalho') %>

        <h2>Seu pedido foi recebido!</h2>
        <h3>Logo mais um ninja da estação hack irá entregar seu burguer!</h3>
    </body>
</html>